@using Services;
@inject MessagingService service
@code {
    private async void SendMessage()
    {
        var notification = new NotificationHubs.Notification
        {
            Platform = NotificationHubs.MobilePlatform.GoogleCloudMessaging,
            Content = "{'data':{'message':'Notification Hub test notification'}}"
        };
        await service.SendNotification(notification);
    }
}

<h3>Home</h3>

<button @onclick="SendMessage">send message</button>